
body
{
  background-color: #c9ffb1;
  font-family: oswald;
}

html {
  scroll-behavior: smooth;
}

.hero{
  position: relative;
  text-align: center;
}

.hero img{
  width: 100%;
  height: auto;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.card-img-top {
  max-height: 250px;
  min-height: 250px;
  width: 100%;
  object-fit:contain;
  padding:10px;
}
    /* lisää tilaa kuvan yläpuolelle */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.piplup {
    border: 4px solid rgb(38, 153, 230);
}

.zorua {
    border: 4px solid #784687;
}

.emolga {
    border: 4px solid rgb(248, 230, 66);
}

.gothorita {
    border: 4px solid rgb(222, 106, 186);
}

.deerling {
    border: 4px solid rgb(55, 188, 75);
}

.haku{
    background-color: rgb(176, 218, 255);
    max-width: 800px;
    padding: 20px;
    padding-left: 30px;
    ;
}

.lista{
    max-width: 800px;
    padding: 20px;
    padding-left: 30px;
    justify-content: center;
}

.random-card{
    background-color: rgb(176, 218, 255);
}